<!doctype html>
<html ng-app="angularMultiLineEllipsisSample">
	<head>
		<title>Multi line ellipsis Angular directive</title>
		<link href="../src/angular-multiline-ellipsis.css" rel="stylesheet" type="text/css" />
		<link href="sample.css" rel="stylesheet" type="text/css" />
		<script type="application/ecmascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
		<script type="application/ecmascript" src="../src/angular-multiline-ellipsis.js"></script>
		<script type="application/ecmascript" src="sample.js"></script>
	</head>
	<body>
		<h1>Multi line ellipsis Angular directive</h1>
		<p>This is a reusable angular directive that provide support for multiline ellipsis.</p>
		<p>It is based on the isea presented by <a href="https://www.mobify.com/blog/multiline-ellipsis-in-pure-css/">Mobify</a></p>
		<p>Note: this implementation assumes that the content wraps and uses height to determine overflow situation. 
		In cases where content gets truncated due to its width, this implementation is not good enough.</p>
		<p>You can <a href="https://github.com/lee-elenbaas/angular-multiline-ellipsis/archive/master.zip">download</a> or fork from <a href="https://github.com/lee-elenbaas/angular-multiline-ellipsis">GitHub</a></p>
		<div ng-controller="simpleSampleCtrl">
			<h2>Simple text usage</h2>
			<p>Just use as is</p>
			<fieldset>
				<legend>Parameters</legend>
				<label>
					<div>Content:</div>
					<textarea ng-model="content"></textarea>
				</label>
				<label>Height: <input ng-model="style.height" /></label>
				<label>Width: <input ng-model="style.width" /></label>
				<label><input type="checkbox" ng-model="displayLayout" /> Dislpay layout</label>
			</fieldset>
			<fieldset>
				<legend>Result</legend>
				<div ml-ellipsis 
					ng-style="style" ng-class="{ 'display-layout':displayLayout }">
					{{content}}
				</div>
			</fieldset>
		</div>
		<div ng-controller="styleSampleCtrl">
			<h2>Ellipsis Style usage</h2>
			<p>Show how to style the ellipsis, and place html content<p>
			<fieldset>
				<legend>Parameters</legend>
				<label>
					<div>Content:</div>
					<textarea ng-model="content"></textarea>
				</label>
				<label>Height: <input ng-model="style.height" /></label>
				<label>Width: <input ng-model="style.width" /></label>
				<label><input type="checkbox" ng-model="displayLayout" /> Dislpay layout</label>
				<fieldset>
					<legend>Ellipsis</legend>
					<label>Content: <input ng-model="ellipsis" /></label>
					<label>Width: <input ng-model="ellipsisWidth" /></label>
					<label><input type="checkbox" ng-model="ellipsisBold" /> Bold</label>
				</fieldset>
			</fieldset>
			<fieldset>
				<legend>Result</legend>
				<div ml-ellipsis ellipsis="ellipsis" ellipsis-style="ellipsisStyle()" 
					ng-style="style" ng-class="{ 'display-layout':displayLayout }">
					<span title="{{content}}">{{content}}</span>
				</div>
			</fieldset>
		</div>
		<div ng-controller="templateSampleCtrl">
			<h2>Ellipsis Template usage</h2>
			<p>Show how to template the ellipsis content<p>
			<fieldset>
				<legend>Parameters</legend>
				<label>
					<div>Content:</div>
					<textarea ng-model="content"></textarea>
				</label>
				<label>Height: <input ng-model="style.height" /></label>
				<label>Width: <input ng-model="style.width" /></label>
				<label><input type="checkbox" ng-model="displayLayout" /> Dislpay layout</label>
			</fieldset>
			<fieldset>
				<legend>Result</legend>
				<div ml-ellipsis ellipsis-url="'more.partial.html'" ellipsis-style="ellipsisStyle" 
					ng-style="style" ng-class="{ 'display-layout':displayLayout }">
					{{content}}
				</div>
			</fieldset>
		</div>
	</body>
</html>
