.ml-ellipsis {
	overflow: hidden;
	line-height: 25px;
	margin: 20px;
	height: 100%;
	width: 100%;
}

.ml-ellipsis > .ml-ellipsis-before {
	float: left;
	width: 5px;
	height: 100%;
}

.ml-ellipsis > .ml-ellipsis-content {
	float: right; 
	width: calc(100% - 5px); 
	margine-left: -5px;
}

.ml-ellipsis > .ml-ellipsis-after {
	white-space: nowrap;
	
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;

	float: right; position: relative;
	top: -25px; left: 100%; 
	width: 3em; margin-left: -3em;
	padding-right: 5px;
	
	text-align: right;

    background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, right top,
		from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
	background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);			
	background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
	background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
	background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
